@media screen and (min-width: $tablet) {
    /*************** 
     * Nav 
     */
    .nav__logo {
        left: 123px;
    }

    /* Nav Top */
    .nav__top {
        min-height: 33px;
    }

    .nav__top__ia-website-link {
    
        img {
            height: 23px;
        }
    }

    /* Nav Bottom */
    .nav__bottom {
        min-height: 57px;
    }

    .nav__bottom__free-trial-link {
        right: 125px;

        img {
            height: 35px;
        }
    }

    .nav__bottom__menu-button {
        width: 40px;
        height: 30px;
        background-size: 100% 100%;
    }

    /*************** 
     * Carousel 
     */
     .carousel {
    
    }
    
    .carousel__slides {
    
    }
    
    /* Carousel slide */
    .carousel__slide {
    }
    
    /* Slide top */
    .carousel__slide__top {
        max-height: 999px;
    }
    
    .carousel__slide-image {
        
    }

    .carousel__slide-title {
        max-width: 60%;
        left: 118px;
        bottom: 19px;
        font-size: 80px;
    }

    /* Slide bottom */
    .carousel__slide__bottom {
        padding: 8px 123px;
    }

    .carousel__slide-subtext {
        font-size: 24px;
    }

    .carousel__navigation {

    }

    .slick-prev,
    .slick-next {
        height: 38px;
        top: -100px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 15px;
        background-size: 70% 70%;
    }
    .slick-prev {

    }
    .slick-next {

    }

    .slick-dots {
        padding: 4px 0;
    }
}