.carousel {
    margin-top: 64px;
}

.carousel__slides {

}

/* Carousel slide */
.carousel__slide {
    position: relative;
    
}

/* Slide top */
.carousel__slide__top {
    position: relative;
    overflow: hidden;
    max-height: 969px;
}

.carousel__slide-image {
    width: 100%;
    display: none !important;
}

.carousel__slide-image--mobile {
    width: 100%;
}

.carousel__slide__text {
    width: 80%;
    position: absolute;
    left: 19px;
    bottom: 19px;
    z-index: 2;
}

.carousel__slide-title {
    color: $white;
    font-size: 30px;
    text-transform: uppercase;
}

.carousel__slide-sub-title {
    color: $white;
    font-size: 18px;
}

/* Slide bottom */
.carousel__slide__bottom {
    background: $mint-green;
    padding: 8px 19px;
}

.carousel__slide-subtext {
    color: $navy;
    margin: 0;

    a {
        color: $navy;
    }
}

.carousel__navigation {
    background: $mint-green;
    position: relative;
    margin-top: -1px;
}

/*****************************
* Responsive
***************************/
@media screen and (min-width: 545px) {
    .carousel__slide-image {
        display: block !important;
    }
    
    .carousel__slide-image--mobile {
        display: none !important;
    }
}
@media screen and (min-width: $tablet) {
    .carousel {
        margin-top: 90px;
    }

    .carousel__slide-title {
        font-size: 42px;
    }

    .carousel__slide__text {
        max-width: 90%;
        left: 118px;
        bottom: 19px;
    }

    /* Slide bottom */
    .carousel__slide__bottom {
        padding: 8px 123px;
    }

    .carousel__slide-sub-title {
        font-size: 24px;
    }

    .slick-prev,
    .slick-next {
        height: 38px;
        top: -100px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 15px;
        background-size: 70% 70%;
    }

    .slick-dots {
        padding: 4px 0;
    }
}

@media screen and (min-width: $desktop) {
    .carousel__slide-title {
        font-size: 76px;
    }
}