.cta-banner {
    padding: 32px 0;
    position: relative;
    background: url(images/free-trial-image.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    font-family: GravurCondensed;
}

.cta-banner__opacity-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.cta-banner__content {
    position: relative;
}

.cta-banner__title {
    margin: 10px auto;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
}

.cta-banner__title--large {
    font-size: 18px;
}

.cta-banner__title--bold {
    font-weight: bold;
}

.cta-banner__button {
    display: block;
    margin: 14px auto;
    background: $yellow;
    border-radius: 0;
    color: $navy;
    font-size: 16px;
    padding: 8px 18px;
    max-width: 160px;

    &:hover {
        text-decoration: none;
        background: $navy;
        color: $yellow !important;
    }

    &:visited,
    &:active,
    &:focus {
        text-decoration: none;
        color: $navy;
    }
}

/*****************************
* Responsive
***************************/
@media screen and (min-width: $tablet) {
    .cta-banner {
        padding: 94px 0;
    }

    .cta-banner__title {
        font-size: 50px;
    }
    
    .cta-banner__title--large {
        font-size: 60px;
    }
    
    .cta-banner__title--bold {
    }

    .cta-banner__button {
        margin: 40px auto;
        font-size: 30px;
        padding: 14px 18px;
        max-width: 610px;
    }
}