footer {
    position: relative;
    padding: 20px;
}

.footer__section-below-dotted-separator {
    position: relative;
}

.footer__social-media-links {
    margin-bottom: 4px;

    a {
        width: 32px;
        height: 32px;

        &:hover {
            text-decoration: none;

            & > .footer__social-media-links__image--active {
                display: inline-block;
            }
            & > .footer__social-media-links__image {
                display: none;
            }
        }
    
        img {
            width: 32px;
            height: 32px;
        }
    }
}

.footer__social-media-links__image {

}
.footer__social-media-links__image--active {
    display: none;
}

.footer__mobile-links {
    padding: 0;
    list-style-type: none;

    li {

        a {
            color: #999999;
            font-family: AkkuratPro;
            font-weight: 300;
            font-size: 13px;
        }
    }
}

.footer__tablet-links {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    bottom: 0;

    li {
        display: inline-block;
        color: #999999;
        font-family: AkkuratPro;
        font-weight: 300;
        font-size: 13px;

        a {
            color: #999999;
            font-family: AkkuratPro;
            font-weight: 300;
            font-size: 13px;
        }
    }
}

.footer__return-to-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 0;
    background: #8a92a0 url(images/icons/up-arrow.svg) no-repeat center 13px/70%;
    border: none;

    &:hover {
        background: #132442 url(images/icons/up-arrow.svg) no-repeat center 13px/70%;
    }
}

/*****************************
* Responsive
***************************/
@media screen and (min-width: $tablet) {
    footer {
        padding: 20px 20px 10px 20px;
    }

    .footer__social-media-links {
        position: absolute;
        right: 90px;
    
        a {
            width: 50px;
            height: 50px;
        
            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .footer__mobile-links {
        display: none;
    }

    .footer__tablet-links {
        display: block;
    }

    .footer__return-to-top {
        top: 0px;
    }
}

@media screen and (min-width: $desktop) {
    .footer__social-media-links {
        right: 388px;
    }
}