.nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: top .6s;

    &.headroom--not-top {
        top: -24px;

        & > .nav__logo {
            transform: translateY(24px);
            max-width: 83px;
            left: 20px;
        }

        & + .carousel {
            margin-top: 66px;
        }
    }
}

.nav__logo {
    width: 33%;
    max-width: 133px;
    position: absolute;
    left: 17px;
    z-index: 2;
    transition: max-width .3s;

    p {
        margin: 0;
        padding: 3px 8px 0 8px;
        width: 100%;
        background: $navy;
        color: $white;
        font-family: Dotmatrix;
        font-size: 14px;
        border: 1px solid $white;
        border-bottom: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        vertical-align: middle;

        &:last-of-type {
            border-bottom: 1px solid $white;
            background: $mint-green;
            font-size: 11px;
        }
    }
}

/* Nav Top */
.nav__top {
    position: relative;
    min-height: 24px;
    background: #26304E;
}

.nav__top__ia-website-link {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);

    img {
        height: 16px;
    }
}

/* Nav Bottom */
.nav__bottom {
    position: relative;
    min-height: 40px;
    background: #000033;
}

.nav__bottom__free-trial-link {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translate(0, -50%);
    border: 2px dotted $yellow;
    color: white;
    text-transform: uppercase;
    line-height: 19px;
    font-size: 13px;
    padding: 0px 6px 0px 25px;
    background: url(images/icons/download-icon.svg) 8% 50%/17% no-repeat;

    &:hover {
        text-decoration: none;
        color: $yellow;
        animation-name: freeTrialLinkBackgroundSlide;
        animation-duration: .7s;
        animation-timing-function: cubic-bezier(.25,.75,.5,1.25);
    }
}
@keyframes freeTrialLinkBackgroundSlide {
    0% {
        background: url(images/icons/download-icon.svg) 8% 50%/17% no-repeat;
    }
    50% {
        background: url(images/icons/download-icon.svg) 8% 1000%/17% no-repeat;
    }
    51% {
        background: url(images/icons/download-icon.svg) 8% -1000%/17% no-repeat;
    }
    100% {
        background: url(images/icons/download-icon.svg) 8% 50%/17% no-repeat;
    }
}

.nav__bottom__menu-button {
    width: 22px;
    height: 20px;
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translate(0, -50%);
    background: url(images/icons/menu-icon.svg);
    background-size: cover;
    background-position: center;
    border: none;
}

/*****************************
* Responsive
***************************/
@media screen and (min-width: $tablet) {
    .nav {
    
        &.headroom--not-top {
            top: -33px;
    
            & > .nav__logo {
                transform: translateY(33px);
                max-width: 123px;
                left: 123px;
            }

            & + .carousel {
                margin-top: 57px;
            }
        }
    }

    /*************** 
     * Nav 
     */
    .nav__logo {
        left: 123px;
        max-width: 189px;
    }

    /* Nav Top */
    .nav__top {
        min-height: 33px;
    }

    .nav__top__ia-website-link {
    
        img {
            height: 23px;
        }
    }

    /* Nav Bottom */
    .nav__bottom {
        min-height: 57px;
    }

    .nav__bottom__free-trial-link {
        right: 125px;

        img {
            height: 35px;
        }
    }

    .nav__bottom__menu-button {
        width: 40px;
        height: 30px;
        background-size: 100% 100%;
    }
}