$grape: #515a71;
.grape {
    color: $grape;
}
.grape-bg {
    background-color: $grape;
}

$white: #fff;
.white {
    color: $white;
}
.white-bg {
    background-color: $white;
}

$navy: #000033;
.navy {
    color: $navy;
}
.navy-bg {
    background-color: $navy;
}

$mint-green: #50d4aa;
.mint-green {
    color: $mint-green;
}
.mint-green-bg {
    background-color: $mint-green;
}

$light-mint-green: #87E6C9;
.light-mint-green {
    color: $light-mint-green;
}
.light-mint-green-bg {
    background-color: $light-mint-green;
}

$yellow: #ffc015;
.yellow {
    color: $yellow;
}
.yellow-bg {
    background-color: $yellow;
}
