$grape: #515a71;
.grape {
    color: #515a71;
}
.grape-bg {
    background-color: #515a71;
}

$white: #fff;
.white {
    color: #fff;
}
.white-bg {
    background-color: #fff;
}

$navy: #000033;
.navy {
    color: #000033;
}
.navy-bg {
    background-color: #000033;
}

$mint-green: #50d4aa;
.mint-green {
    color: #50d4aa;
}
.min-green-bg {
    background-color: #50d4aa;
}